<form action="{{action}}" method="POST" class="c-form">
  {{#if showFields}}
  <div class="c-form__input">
    <label for="name">Nome: </label>
    <input type="text" name="name" id="name" required>
  </div>
  {{/if}}
  <div class="c-form__input">
    <label for="email">Email: </label>
    <input type="email" name="email" id="email" required>
  </div>
  <div class="c-form__input">
    <label for="password">Senha: </label>
    <input type="password" name="password" id="password" required>
  </div>
  {{#if showFields}}
  <div class="c-form__input">
    <label for="confirm_password">Confirmar senha: </label>
    <input type="password" name="confirm_password" id="confirm_password" required>
  </div>
  {{/if}}
  <input class="btn" type="submit" value="{{btnText}}">
  {{#if showFields}}
  <p>Tem uma conta? <a href="/login">Clique aqui</a></p>
  {{else}}
  <p>Não tem uma conta? <a href="/register">Clique aqui</a></p>
  {{/if}}
</form>