<div class="c-messages max-width">
  {{#if messages.error}}
    <p class="error">{{messages.error}}</p>
  {{/if}}
  {{#if messages.success}}
    <p class="success">{{messages.success}}</p>
  {{/if}}
</div>