<form action="{{action}}" method="POST" class="c-form max-width">
  <input type="hidden" name="thoughtId" value="{{thought.id}}">
  <div class="c-form__input">
    <textarea name="title" placeholder="Digite seu pensamento aqui..." autofocus>{{thought.title}}</textarea>
  </div>
  <input class="btn" type="submit" value="{{btnText}}">
</form>