<form action="/thoughts/dashboard/add" method="POST" class="c-form max-width">
  <div class="c-form__input">
    <input type="text" name="title" placeholder="Digite seu pensamento aqui...">
  </div>
  <input class="btn" type="submit" value="Criar pensamento">
</form>