:root {
  --primary-color: #2a2a2a;
  --secondary-color: #3a3a3a;
  --details-color: #f6982d;
  --margin-h: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #efefff;
  background: var(--primary-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.1rem;
  color: #efefff;
  text-align: center;
  margin-top: 1rem;
}

.nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

input,
button {
  border: 0;
  margin: 0;
  outline: 0;
}

.max-width {
  width: 450px;
  max-width: 96%;
  margin: 0 auto;
}

.c-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.btn {
  cursor: pointer;
  border: 2px solid var(--details-color);
  color: var(--secondary-color);
  font-weight: bold;
  font-size: .6rem;
  text-transform: uppercase;
  border-radius: .3rem;
  padding: .3rem .5rem;
  background: var(--details-color);
  transition: .3s ease;
}

.btn:hover {
  background: transparent;
  color: var(--details-color);
}


/* HEADER */

header {
  width: 100%;
  /* background: var(--secondary-color); */
  border-bottom: 1px solid var(--details-color);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header nav img {
  width: 1rem;
  height: 1rem;
  margin-left: var(--margin-h);
}

header ul {
  display: flex;
}

header li a {
  display: flex;
  padding: .7rem var(--margin-h);
  font-size: .75rem;
  /* font-weight: bold; */
  font-family: sans-serif;
  color: #aaaab0;
  transition: .3s ease;
}

header li a:hover {
  background: rgba(255, 255, 255, .05);
  color: var(--details-color);
}

/* Main */
main {
  flex: 1;
  padding-bottom: .5em;
  padding: 0 var(--margin-h);
}

.c-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.c-form__input {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.c-form__input label {
  font-size: .7rem;
  color: #babac0;
}

.c-form__input input,
.c-form__input textarea {
  border: 0;
  outline: 0;
  background: transparent;
  border-radius: .3rem;
  color: #cfcfdf;
  border: 2px solid var(--details-color);
  padding: .4rem .5rem;
}

.c-form__input input:focus,
.c-form__input textarea:focus {
  background: var(--details-color);
  color: var(--secondary-color);
  font-weight: bold;
}

.c-form__input textarea {
  width: 100%;
  height: 4rem;
  resize: none;
}

.c-form p {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: .7rem;
  color: #aaaab0;
}

.c-form p a {
  color: var(--details-color);
}

/* THOUGHTS  */

.c-thoughts {
  margin: 0 auto;
  margin-top: 1rem;
}

.c-thoughts ul {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.c-thoughts ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  padding: .7rem .5rem;
  border-radius: .3rem;
  background: var(--secondary-color);
}

.c-thoughts .title {
  font-size: .9rem;
  font-weight: bold;
  color: var(--details-color);
}

.c-thoughts .title.done {
  font-size: .9rem;
  text-decoration: line-through;
  font-weight: bold;
  color: #7a7a80;
}

.c-thoughts button {
  background: transparent;
}

.c-thoughts__actions {
  display: flex;
  gap: .5rem;
}

.c-thoughts__actions i {
  cursor: pointer;
  color: #efefff;
  font-size: 1rem;
  transition: .3s ease;
}

.c-thoughts__actions i:hover {
  color: var(--details-color);
}

/* THOUGHT */

.c-thought {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  width: 500px;
  max-width: 60%;
  margin: 0 auto;
  margin-top: 1rem;
  background: var(--secondary-color);
  padding: 1rem;
  border-radius: .3rem;
  box-shadow: 0px 2px 0px -5px rgba(0, 0, 0, .1);
}

.c-thought a {
  display: inline-block;
  font-size: .7rem;
  width: 3rem;
  text-align: center;
  padding: .3rem 0;
  border-radius: .3rem;
  background: rgba(255, 255, 255, .1);
  color: #efefff;
}

.c-thought a:hover {
  background: rgba(255, 255, 255, .2);
}

.c-thought h2 {
  font-size: 1rem;
  color: var(--details-color);
}

.c-thought p {
  font-size: .9rem;
  color: var(--details-color);
  font-weight: bold;
}

.c-thought strong {
  font-size: 1rem;
  font-weight: bold;
  color: #6a6a70;
}

/* FOOTER */

footer {
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid var(--details-color);
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
}

footer span {
  font-weight: bold;
  color: #f6982d;
  margin-right: .2rem;
}

/* MESSAGES */

.c-messages {
  margin-top: 1rem;
}

.c-messages p {
  font-weight: bold;
  font-size: .7rem;
  text-align: center;
  border-radius: .3rem;
  padding: .4rem .5rem;
}

.c-messages .error {
  color: #ffefef;
  background: #ff3030;
}

.c-messages .success {
  color: #fff;
  background: #0a76a8;
}

.c-auth h1 {
  text-align: left;
  padding-left: .5rem;
  border-left: 2px solid var(--details-color);
}

/* DASHBOARD */

.c-dashboard {
  width: 100%;
}

.c-dashboard__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-dashboard h1 {
  font-size: 1.1rem;
  padding-left: .5rem;
  border-left: 2px solid var(--details-color);
}

.c-dashboard h2 {
  margin-top: 1.5rem;
  font-size: .9rem;
}

.c-dashboard__thoughts {
  display: flex;
  flex-direction: column;
  margin-top: .5rem;
}

.c-dashboard__thoughts li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--details-color);
  padding: .8rem 0;
}

.c-dashboard__thoughts__actions {
  display: flex;
  gap: .5rem;
}

.c-dashboard__thoughts h3 {
  font-size: .8rem;
  color: var(--details-color);
}

.c-dashboard__thoughts__actions a,
.c-dashboard__thoughts__actions input[type='submit'] {
  font-size: .5rem;
}

.c-dashboard__thoughts__actions a {
  background: transparent;
  color: var(--details-color);
}
