<div class="c-dashboard">
  <div class="c-dashboard__title">
    <h1>Dashboard</h1>
    <a class="btn" href="/thoughts/dashboard/add">Adicionar pensamento</a>
  </div>

  <h2>Seus pensamentos: </h2>

  <ul class="c-dashboard__thoughts">
    {{#each thoughts}}
    <li>
      <h3>{{this.title}}</h3>
      <div class="c-dashboard__thoughts__actions">
        <a class="btn" href="/thoughts/edit/{{this.id}}">Editar</a>
        <form action="/thoughts/remove" method="POST">
          <input type="hidden" name="thoughtId" value="{{this.id}}">
          <input class="btn"  type="submit" value="Deletar">
        </form>
      </div>
    </li>
    {{/each}}
  </ul>
</div>